doctype 5
html(lang="es")
 head
  title API-Chamberos
 body
  h1#encabezado Welcome to Chamberos-API!
  p.centrar Creating by
  ul
  li Wainer Rodriguez
  li Roque Chacón
  li Jonathan Ramirez
  li Wilmer Vargas
  